<footer>
  <a href="#"
    ><img src="./assets/images/ico-arrow.svg" title="icono-scroll-up"
  /></a>
  <nav class="links__articles">
    <ul>
      <li><a href="#">Articles</a></li>
      <li><a href="#">Books</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Reasons</a></li>
      <li><a href="#">Tips</a></li>
    </ul>
  </nav>
  <nav class="links__redes">
    <ul>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Mastodon Social</a></li>
    </ul>
  </nav>
  <small>
    &copy; 2019 we love components
  </small>
</footer>
