<footer class="footer">
  <div class="button__up">
    <a href="index.html#go-to-menu">
      <img class="button__up__img" src="./assets/images/ico-arrow.svg" title="icono-scroll-up" />
    </a>
  </div>
  <div class="menu__footer">
    <nav class="menu__footer__section">
      <ul class="menu__footer__list">
        <li>
          <a class="menu__footer__link" href="https://adalab.es/" target="_blank">Articles</a>
        </li>
        <li><a class="menu__footer__link" href="https://adalab.es/" target="_blank">Books</a></li>
        <li><a class="menu__footer__link" href="https://adalab.es/" target="_blank">Events</a></li>
        <li><a class="menu__footer__link" href="https://adalab.es/" target="_blank">Reasons</a></li>
        <li><a class="menu__footer__link" href="https://adalab.es/" target="_blank">Tips</a></li>
      </ul>
    </nav>
    <nav class="menu__footer__section--redes">
      <ul class="menu__footer__list">
        <li><a class="menu__footer__link" href="https://adalab.es/" target="_blank">Twitter</a></li>
        <li><a class="menu__footer__link" href="https://adalab.es/" target="_blank">Instagram</a></li>
        <li><a class="menu__footer__link" href="https://adalab.es/" target="_blank">Mastodon Social</a></li>
      </ul>
    </nav>
    <small class="menu__footer__copyright">
      <p class="menu__footer__copyright__text">
        &copy; 2019<br />
        we ❤️ love components
      </p>
    </small>
  </div>
</footer>
