<footer class="footer">
  <div class="menu__footer">
    <div class="buttom__scroll__up">
      <a href="index.html#go-to-menu"
        ><img src="./assets/images/ico-arrow.svg" title="icono-scroll-up"
      /></a>
    </div>
    <nav class="links__articles">
      <ul>
        <li><a href="https://adalab.es/">Articles</a></li>
        <li><a href="https://adalab.es/">Books</a></li>
        <li><a href="https://adalab.es/">Events</a></li>
        <li><a href="https://adalab.es/">Reasons</a></li>
        <li><a href="https://adalab.es/">Tips</a></li>
      </ul>
    </nav>
    <nav class="links__redes">
      <ul>
        <li><a href="https://adalab.es/">Twitter</a></li>
        <li><a href="https://adalab.es/">Instagram</a></li>
        <li><a href="https://adalab.es/">Mastodon Social</a></li>
      </ul>
    </nav>
  </div>
  <small class="copyright">
    &copy; 2019
    <p>we love components</p>
  </small>
</footer>
