<header class="container__page">
  <div class="icon__header">
    <img src="./assets/images/ico-menu.svg" title="icono-menu" />
  </div>
  <div class="container__letter">
    <span class="container__letter__primary">Anonimous</span>
    <span class="container__letter__primary"> proxy</span>
    <span class="container__letter__secondary"
      >In hac habitasse platea dictumst.</span
    >
    <img
      src="./assets/images/ico-scroll-down.svg"
      title="icono-scroll-down"
    /><a href="#" title="enlace-a-"></a>
  </div>
</header>
