<header class="container__page">
  <div id="go-to-menu" class="icon__header">
   <a href="https://adalab.es/" target="_blank"><img src="./assets/images/ico-menu.svg" title="icono-menu" /></a> 
  </div>
  <div class="container__letter">
    <span class="container__letter__primary">Anonimous</span>
    <span class="container__letter__secondary">proxy</span>
    <span class="container__letter__
    tertiary"
      >In hac habitasse platea dictumst.</span
    >
    <div class="scroll__top"><a href="#" title="enlace-a-"><img
        src="./assets/images/ico-scroll-down.svg"
        title="icono-scroll-down"
      /></a>
  </div>
</header>
