<section class="secondary__section">
  <h3 class="secondary__section__title" id="go-to-reasons">3 Reasons to purchase</h3>
  <section class="article">
    <partial src="_article.html" name="Ut sed metus" desc="Lorem ipsum dolor sit amet, consecteur" class="one"></partial>
    <partial src="_article.html" name="Curabitur ac erat" desc="Mauris mattis urna quis lorem molestie." class="two"></partial>
    <partial src="_article.html" name="Morbi dictum" desc="Aliquam in dolor et dolor tincidunt" class="three"></partial>
  </section>
  <button class="secondary__section__buttom">More reasons</button>
</section>
