<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <title>Landing page</title>
  </head>
  <body>
    <partial src="_header.html"></partial>
    <partial src="_main.html"></partial>
    <partial src="_aside.html"></partial>

    <partial src="_footer.html"></partial>
  </body>
</html>
