.footer {

  background-color: $color-darkblue;
  text-align: center;

}

.button__up {
  width: 45px;
  height: 45px;
  background: $color-white;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  top: -23px;

  &__img {
    position: relative;
    top: 12px;

  }
}

.menu__footer {

  font-family: $font-secundary;
  font-weight: $font-weightregular;
  font-size: 14px;
  line-height: $line-height;
  padding-bottom: 30px;
  list-style: none;

  &__section {
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__section--redes {
    margin-bottom: 30px;
  }

  &__link {
    text-decoration: none;
    color: $color-white;
  }

  &__list {
    list-style: none;
  }


  &__copyright__text {
    color: $color-white;
    padding-bottom: 40px
  }

}
