.icon__header {

  background-color: #0271bc;
  height: 44px;
  width: 44px;
  position: fixed;
  top: 0;


  &__img {
    position: relative;
    top: 15px;
    left: 15px;

  }
}

.container__page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  background-image: url("/assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.container__letter {

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  &__primary {
    font-family: 'Roboto Slab', ;
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 55px;

  }

  &__secondary {

    font-family: 'Roboto Slab', ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 10px;

    &__tertiary {
      font-size: 16px;
      font-family: 'Roboto', ;
      margin-bottom: 30px;


    }
  }

}


.scroll__top {
  background-color: white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
  margin-top: 30px;

  &__img {
    position: relative;
    left: 4.5px;
    top: 10px;

  }
}
