.icon__header {

  background-color: $color-blue;
  height: 44px;
  width: 44px;
  position: fixed;
  top: 0;


  &__img {
    position: relative;
    top: 15px;
    left: 15px;

  }
}

.container__page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  background-image: url("/assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.container__letter {

  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-white;

  &__primary {
    font-family: $font-primary;
    font-size: 44px;
    font-weight: $font-weightbold;
    text-transform: $font-uppercase;
    line-height: 55px;

  }

  &__secondary {
    font-family: $font-primary;
    text-transform: $font-uppercase;
    font-weight: $font-weightbold;
    font-size: 44px;
    margin-bottom: 10px;
    line-height: 55px;
  }

  &__tertiary {
    font-size: 16px;
    font-family: $font-secundary;
    font-weight: $font-weightregular;
    margin-bottom: 30px;


  }
}


.scroll__top {
  background-color: $color-white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
  margin-top: 30px;

  &__img {
    position: relative;
    left: 4.5px;
    top: 10px;

  }
}
