.primary__section {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;

  &__subtitle {
    font-family: $font-secundary;
    font-weight: $font-weightregular;
    font-size: 14px;
    color: #8ccbea;
    margin-bottom: 20px;
  }

  &__title {
    font-family: $font-primary;
    font-weight: $font-weightbold;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 20px;
    line-height: $line-height;
  }

  &__description {
    font-family: $font-secundary;
    font-size: 18px;
    line-height: $line-height;
  }

  &__button {

    border-radius: 22.5px;
    border: solid $color-orange 3px;
    color: $color-orange;
    background-color: $color-white;
    width: 76px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $font-secundary;
    font-weight: $font-weightmedium;
    font-size: 20px;
    transition: all ease 0.5s;


    &:hover {
      color: $color-white;
      background-color: $color-orange;
      box-shadow: 0 0 10px $color-white;
    }
  }

}
