.secondary__section {
  text-align: center;
  background-color: $color-white;

  &__title {
    font-family: $font-primary;
    font-weight: $font-weightbold;
    font-size: 24px;
    line-height: $line-height;
    margin-bottom: 20px;
    text-transform: capitalize;
    padding: 30px 0;
  }

  &__button {
    font-family: $font-secundary;
    font-weight: $font-weightmedium;
    font-size: 20px;
    color: $color-white;
    background: $color-orange;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    margin-bottom: 60px;
    border: none;
    transition: all ease 0.5s;

    &:hover {
      background-color: $color-white;
      color: $color-orange;
      box-shadow: 0 0 20px black;
      font-weight: $font-weightbold;
    }

  }
}

.article {
  &__title {

    font-family: $font-primary;
    font-weight: $font-weightbold;
    font-size: 18px;
    line-height: $line-height;

  }

  &__description {
    font-family: $font-secundary;
    font-weight: $font-weightregular;
    font-size: 18px;
    line-height: $line-height;
    margin-bottom: 40px;
    padding: 0 100px;

  }
}
