@media all and (min-width:768px) {


  .secondary__section__title {

    padding-top: 30px;
  }

  .article {
    margin-right: 40px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    &__one {

      grid-column: 0/3;
      grid-row: 1/1;
    }

    &__two {
      grid-column: 2/3;
      grid-row: 1/1;
    }

    &__three {
      grid-column: 3/3;
      grid-row: 1/1;
    }
  }

  .menu__footer {
    display: flex;
    justify-content: space-around;


    &__link {
      order: 2;
    }

    &__link--redes {
      order: 3;
    }

    &__copyright {
      order: 1;
    }
  }
}




@media all and (min-width:1280px) {


  .menu__footer {

    justify-content: center;
    text-align: left;


    &__link {
      margin-right: 70px;
      padding-right: 50px;
    }

    &__link--redes {
      margin-right: 70px;
    }

    &__copyright {
      margin-right: 70px;
    }
  }
}
