// fonts
$font-primary: "Roboto Slab",
sans-serif;
$font-secundary: "Roboto",
sans-serif;
$font-weightbold: 700;
$font-weightmedium: 400;
$font-weightregular: 500;
$line-height: 30px;


// colors
$color-white: #ffffff;
$color-orange: #f26002;
$color-blue: #0271bc;
$color-darkblue:#304268;
$color-lightblue:#eff9ff;
