// MEDIA QUERIES TABLET 


@media all and (min-width:768px) {

  .menu__footer {
    display: flex;
    justify-content: space-around;
    text-align: left;
    font-size: 16px;


    &__section {
      order: 2;
      margin-right: 130px;
      animation-name: menu;
      animation-duration: 10s;
    }

    &__section--redes {
      order: 3;
      margin-right: 60px;
      animation-name: menu;
      animation-duration: 10s;
    }

    &__copyright {
      order: 1;
      margin-right: 40px;
      animation-name: menu;
      animation-duration: 10s;
    }
  }
}

@keyframes menu {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


// MEDIA QUERIES DESKTOP

@media all and (min-width:1280px) {

  .menu__footer {

    justify-content: center;
    animation-name: menudesktop;
    animation-duration: 5s;

    &__section {
      margin-right: 60px;
      padding-right: 50px;
    }

    &__section--redes {
      margin-right: 70px;
    }

    &__copyright {
      margin-right: 70px;
    }
  }

}

@keyframes menudesktop {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
