//MEDIA MOVIL


@media all and (max-width:480px) {

  .primary__section__description {

    margin-bottom: 20px;
  }
}




//MEDIA TABLET//

@media all and (min-width:768px) {

  .primary__section {
    margin-left: 39px;
    margin-right: 39px;

    &__button {
      width: 91px;
      height: 45px;
      margin-top: 30px;
      margin-bottom: 60px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__subtitle {
      margin-top: 30px;
    }
  }
}

// MEDIA QUERIES DESKTOP

@media all and (min-width:1280px) {

  .primary__section {

    margin-right: 275px;
    margin-left: 275px;

    &__button {

      width: 160px;
      height: 45px;
    }

    &__subtitle {
      margin-top: 60px;
    }
  }
}
