// MEDIA QUERIES TABLET 


@media all and (min-width:768px) {

  .secondary__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    &__title {
      padding-top: 30px;
      font-size: 26px;
      grid-column: 2/3;
      grid-row: 1/2;

    }

    &__button {
      grid-column: 2/3;
      justify-self: center;
      align-self: center;
    }

  }

  .article {

    padding: 0 55px;
    margin-right: 40px;
    margin-left: 40px;


    &__title {
      font-size: 24px;
      margin-bottom: 14px;
    }

    &__description {
      font-size: 20px;
      padding: 0 10px;
      margin-bottom: 0;
    }

    &__one {

      grid-row: 2/3;
    }

    grid-row: 2/3;

    &__two {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    &__three {
      grid-column: 4/3;
      grid-row: 2/3;
    }
  }

  // MEDIA QUERIES DESKTOP

  @media all and (min-width:1280px) {

    .secondary__section {
      &__title {

        padding-top: 60px;
        font-size: 32px;
      }
    }

    .article {
      padding: 0 40px;

      &__title {

        font-size: 24px;
      }

      &__description {

        font-size: 20px;
        padding: 0 80px;
      }
    }
  }
}
