// MEDIA QUERIES TABLET 


@media all and (min-width:768px) {

  .secondary__section {
    &__title {
      padding-top: 30px;
    }

    &__buttom {
      margin-top: 60px;
    }

  }

  .article {
    padding: 0 55px;
    margin-right: 40px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 33% 33% 33%;


    &__title {
      margin-bottom: 14px;
    }

    &__description {
      padding: 0 10px;
    }

  }

  // MEDIA QUERIES DESKTOP

  @media all and (min-width:1280px) {

    .secondary__section {

      &__title {

        padding-top: 60px;
        font-size: 32px;
      }
    }

    .article {
      padding: 0 40px;

      &__title {

        font-size: 24px;
      }

      &__description {

        font-size: 20px;
        padding: 0 20px;
      }
    }
  }
}
